{% block content %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    {% if not user.is_staff %}
    <a class="navbar-brand" href="{% url 'menu' %}">
      <img src="{% static 'images/logo.jpg' %}" class="img-responsive"/>Canteen</a>
      {% else %}
      <a class="navbar-brand" href="{% url 'dashboard' %}">
        <img src="{% static 'images/logo.jpg' %}" class="img-responsive" />Canteen</a>
      {% endif %}
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul  class="navbar-nav mr-auto">
        <li class="nav-item active">
          {% if not user.is_staff %}
          <a class="nav-link" href="{% url 'menu' %}">Home <span class="sr-only">(current)</span></a>
          {% else %}
          <a class="nav-link" href="{% url 'dashboard' %}">Home <span class="sr-only">(current)</span></a>
          {%endif%}
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        {% if user.is_authenticated %}
        <span class ='msg'>Hello, {{request.user}}</span>
        <a href="{% url 'logout' %}" class="butn my-2 my-sm-0">Logout</a>
        {% else %}
        <a href="{% url 'register' %}" class="butn mr-sm-2">Register</a>
        <a href="{% url 'login' %}" class="butn my-2 my-sm-0">Login</a>
        {% endif %}
        {% if not user.is_staff %}
        <a href="{% url 'cart'  %}">
          <img id="cart-icon" src="{% static 'images/cart.png' %}" />
        </a>
        <p id="cart-total">{{cartItems}}</p>
        {% endif %}
      </div>
    </div>
  </nav>

  {% endblock content %}
